/* src/App.css */


/* Optional: Remove default margin and padding */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.FORM{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  transform: translate(100%,10%);
  box-shadow: 5px 5px 10px white;
  border-radius: 10px;
}
.forForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addTitle{
  color: rgb(0, 0, 0);
}

.forForm input{
  width: 300px;
  height: 10px;
  padding: 15px;
  
}

.desc{
  height: 100px;
}

.addButton{
  margin-top: 30px;
  width: 300px;
  font-size: medium;
}

.addButton:hover{
  font-size: large;  
}



